<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <link rel="stylesheet" href="/static/mail/styles.css">
        <title>Mail</title>

        <script>
            window.loggedInUserEmail = "{{ user_email }}";
        </script>
    </head>
    <body>
        <div id="App"></div>

        <script type="text/babel">

            const RenderNavbar = ({handleView}) => {
                return (
                    <div className="navbar">
                        <button className="btn btn-sm btn-outline-primary" onClick={() => handleView("inbox")}>Inbox</button>
                        <button className="btn btn-sm btn-outline-primary" onClick={() => handleView("compose")}>Compose</button>
                        <button className="btn btn-sm btn-outline-primary" onClick={() => handleView("sent")}>Sent</button>
                        <button className="btn btn-sm btn-outline-primary" onClick={() => handleView("archive")}>Archived</button>
                        <a className="btn btn-sm btn-outline-primary" href="/logout">Log Out</a>
                        <hr />
                    </div>
                );
            };

            function App() {
                const userEmail = window.loggedInUserEmail;
                const [currentView, setCurrentView] = React.useState("inbox");
                const [selectedEmail, setSelectedEmail] = React.useState(null);
                const [composeEmailData, setComposeEmailData] = React.useState({
                    recipients: "",
                    subject: "",
                    body: "",
                });
                
                const handleView = (view) => {
                    setSelectedEmail(null);
                    if (view === "compose") {
                        setComposeEmailData({
                            recipients: "",
                            subject: "",
                            body: "",
                        });
                    }

                    setCurrentView(view);
                };

                return (
                    <div>
                        {/* Navbar */}
                        <h2>{userEmail}</h2>
                        <RenderNavbar handleView={handleView} />
                        <hr />

                        {/* View */}
                        {currentView === "compose" ? (
                            <ComposeEmail
                                emailData={composeEmailData}
                                setSelectedEmail={setSelectedEmail}
                                setCurrentView={setCurrentView}
                                setComposeEmailData={setComposeEmailData}
                            />
                        ) : selectedEmail ? (
                            <RenderEmail
                                    email={selectedEmail}
                                    setCurrentView={setCurrentView}
                                    setComposeEmailData={setComposeEmailData}
                            />
                        ) : (
                            <RenderEmails currentView={currentView}
                                          setCurrentView={setCurrentView}
                                          setSelectedEmail={setSelectedEmail}
                            />
                            )}
                    </div>
                );
            }

            function fetchEmails(currentView) {
                const [emails, setEmails] = React.useState([]);

                React.useEffect(() => {
                fetch(`/emails/${currentView}`)
                    .then(response => {
                        if (!response.ok) {throw new Error("Network response was not ok")}
                        return response.json()
                    })
                    .then(data => {
                        console.log(data);
                        setEmails(data);
                    })
                    .catch(error => console.error("There was a problem while fetching", error));
                }, [currentView]);
                return emails;
            }

            function sendEmail(email) {
                fetch('/emails', {
                    method: "POST",
                    body: JSON.stringify({
                        recipients: email.recipients,
                        subject: email.subject,
                        body: email.body
                    })
                })
                    .then(r => {
                        if (!r.ok) {throw new Error("Error sending")}
                        return r.json()
                    })
                    .then(data => console.log(data))
            }
            
            function updateEmail(email) {
                fetch(`emails/${email.id}`, {
                    method: "PUT",
                    body: JSON.stringify({
                        archived: !email.archived
                    })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Error updating status")
                        }
                        return response.json()
                    })
            }
            
            const RenderEmails = ({currentView, setCurrentView, setSelectedEmail}) => {
                const emails = fetchEmails(currentView)
                const handleEmailClick = (email_id) => {setSelectedEmail(email_id)}
                const handleArchivedClick = (email) => {
                    updateEmail(email)
                    setCurrentView("inbox");
                }

                return (
                    <div>
                        {emails.map(
                            email => (
                                <div className={email.read ? "email-item" : "email-item notRead"}>
                                    <div className="email-container">
                                        <button onClick={() => handleArchivedClick(email)} className="archive-btn">{email.archived ? "Unarchived" : "Archived"}</button>
                                        <div className="email-row" onClick={() => handleEmailClick(email)}>
                                            <p><strong>{currentView === "mailbox" ? email.sender : email.recipients}</strong></p>
                                            <div className="email-sender"><strong>{email.user}</strong></div>
                                            <div className="email-body">{email.body}</div>
                                            <div className="email-timestamp">{email.timestamp}</div>
                                        </div>
                                    </div>
                                </div>
                            ))}
                    </div>
                );
            };

            const RenderEmail = ({email, setCurrentView, setComposeEmailData}) => {
                const handleEmailReply = () => {
                    setComposeEmailData({
                        recipients: [email.sender],
                        subject: email.subject.startsWith("Re:") ? email.subject : "Re: " + email.subject,
                        body: email.timestamp + ' ' + email.sender + ` wrote: ${email.body}\n\n`
                    })
                    setCurrentView("compose")
                }

                return (
                    <div>
                        <h3>From: {email.sender}</h3>
                        <h4>To: {email.recipients.join(", ")}</h4>
                        <p><strong>Subject:</strong> {email.subject}</p>
                        <p><strong>Body:</strong> {email.body}</p>
                        <p><strong>Timestamp:</strong> {email.timestamp}</p>
                        <button onClick={handleEmailReply} className="btn btn-sm btn-outline-primary">Reply</button>
                        <hr />
                        <p>{email.body}</p>
                    </div>
                )
            }

            const ComposeEmail = ({emailData, setSelectedEmail, setCurrentView, setComposeEmailData}) => {
                
                const handleSubmit = (event) => {
                    event.preventDefault();
                    setSelectedEmail(null);
                    sendEmail(emailData)
                    setCurrentView("inbox");
                    console.log("Do something with the compose: " + emailData)
                }
                
                const handleInputChange = (field, value) => {
                    setComposeEmailData((prevData) => ({
                        ...prevData,
                        [field]: value,
                    }));
                };

                return (
                    <div>
                        <h3>New Email</h3>
                        <form onSubmit={handleSubmit}>
                            <div className="form-group">
                                From: <input disabled className="form-control" value={loggedInUserEmail} />
                            </div>

                            <div className="form-group">
                                To: <input 
                                        onChange={(e) => handleInputChange("recipients", e.target.value)} 
                                        className="form-control" 
                                        value={emailData ? emailData.recipients : ""} 
                                />
                            </div>

                            <div className="form-group">
                                <input 
                                    className="form-control" 
                                    placeholder="Subject" 
                                    value={emailData ? emailData.subject : ""}
                                    onChange={(e) => handleInputChange("subject", e.target.value)}
                                />
                            </div>
                            
                            <textarea 
                                className="form-control" 
                                placeholder="Body" 
                                value={emailData ? emailData.body : ""} 
                                onChange={(e) => handleInputChange("body", e.target.value)}
                            />
                            <input type="submit" className="btn btn-primary" />
                        </form>
                    </div>
                )
            }




            
        ReactDOM.render(<App />, document.querySelector("#App"));
        
        </script>
    </body>
</html>